footer {
  background-color: $black;
  color: white;

  .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-align: center;
  }

  a {
    color: #497dce;
    margin-left: 5px;
  }

  a svg.svg-inline--fa.fa-instagram.fa-w-14 {
    font-size: 20px;
    margin-left: 5px;
    position: relative;
    top: 2px;
    color: #E1306C;
    -webkit-transition: color .5s;
    transition: color .5s;

    &:hover {
      color: #FCAF45;
    }

    li {
      list-style: none;
    }
  }
}