$black: #111;
$blue: #304764;
$orange: #C45706;

// Sticky Footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1020px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Helpers

.mb-0 {
  margin-bottom: 0;
}

.small {
  font-size: 12px;
}

.break {
  margin-left: -100%;
  margin-right: -100%;
}

.header {
  text-align: center;
  color: white;
  padding: 30px;
  margin: -34px;
  margin-bottom: 20px;

  @media (min-width:768px) {
    text-align-last: left;
  }
}