header {
  background: $black;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-title {
    margin: 0;

    .link {
      color: white;
      text-decoration: none;

      .logo {
        width: 50px;
        margin-bottom: 0;
        background-color: $blue;
        border-radius: 100px;
      }

      .title {
        // display: none;
        letter-spacing: 2px;
        font-weight: normal;
      }
    }
  }

  .nav {

    .nav-link {
      color: white;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 1px;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}