.pipeline {
  padding: 1.45rem 1.0875rem;
  background-color: $black;
  color: white;

  .header {
    background-color: $orange;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
    }

    @media (min-width: 960px) {
      flex-wrap: nowrap;
      text-align: left;
    }
  }

  .stage {
    flex: 50%;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }

    .stage-title {
      color: lighten($orange, 5);
    }

    .projects {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      .project {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 1.2rem;
      }
    }
  }
}
