.pipeline {
  padding: 34px 34px 0 34px;
  background-color: #333;
  color: white;

  .header {
    background-color: $orange;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width:768px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .stage {

    .stage-title {
      color: white;
    }

    .projects {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      @media (min-width:768px) {
        margin-bottom: 0;
      }

      .project {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
    }
  }
}