$blue: #304764;
$orange: #C45706;

.video-wrapper {

  .video {
    margin: 0 auto;
    max-width: 1020px;
    padding: 1.45rem 1.0875rem;

    .video-meta {
      font-size: 14px;
      padding: 30px;
      border-radius: 10px;

      @media (min-width:768px) {
        font-size: 16px;
      }

      .logline {
        margin-bottom: 0;
        max-width: 950px;
      }
    }
  }

  &:first-of-type {
    background-color: $blue;

    .video-meta {
      background-color: lighten($blue, 30);
    }

    .video-embed {
      padding-top: 0;
      padding-bottom: 53%;
      padding-bottom: 56.25%;
    }
  }

  &:last-of-type {
    background-color: $orange;

    .video-meta {
      background-color: lighten($orange, 30);
    }

    .video-embed {
      padding-bottom: 63%;
    }
  }
}

.video-embed {
  position: relative;
  /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}