.video-wrapper {

  .video {
    margin: 0 auto;
    max-width: 1020px;
    padding: 1.45rem 1.0875rem 0;

    .video-meta {
      font-size: 12px;
      padding: 30px;
      border-radius: 10px;

      @media (min-width:768px) {
        font-size: 16px;
      }

      .logline {
        margin-bottom: 0;
        max-width: 950px;
      }
    }

    .video-embed {
      padding-bottom: 66%;

      @media (min-width:768px) {
        padding-bottom: 62%;
      }
    }
  }

/*
* === COLOR THEMEING ===
*/
  &.tropical-gardens {
    background-color: $blue;

    .video-meta {
      background-color: lighten($blue, 30);
    }

    .video-embed {
      padding-top: 0;
      padding-bottom: 62%;

      @media (min-width:768px) {
        padding-bottom: 57%;
      }

      @media (min-width:960px) {
        padding-bottom: 55%;
      }
    }
  }

  &.circles {
    background-color: $orange;

    .video-meta {
      background-color: lighten($orange, 30);
    }
  }
}

.video-embed {
  position: relative;
  /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}