$black: #222;

.wrapper {
  margin: 0 auto;
  max-width: 1020px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import 'reset';
@import 'header';
@import 'video';
@import 'laurels';
@import 'footer';